/*fondogeneral*/
.header{
    background-image: url(imagenes/huesitos.jpg);
    height: 300px;
    width: 100%;
    text-align:left
}
.footer{
    background-image: url(imagenes/huesitos.jpg);
    height: 30px;
    width: 100%;
}
.azuki{
    font-size: 75px;
    font-family: 'Darumadrop One', cursive;
}
}
.lista{
    list-style-type: none;
}
.logo{
    float: right;
    border-radius: 50%;
}
/*dias*/
.lunes, .martes, .miercoles, .jueves, .viernes{
    font-size: 25px;
    color: #2b5166;
}
.sabados{
    font-size: 25px;
    color: #429867;
}
.domingosFeriado{
    font-size: 25px;
    color: #e02130;
}
/*horarios*/
.horarios{
    color: #2b5166
}
.horarioSabado{
    color: #429867
}
.cerrado{
    color: #e02130
}